*{
    padding: 0;
    margin: 0;
}

body{
    
    background-color: rosybrown;

}

h1{
    background-color: rgb(190, 100, 100);
}
.logo{
    text-align: end;
    padding: 30px;
}

.img-prod{
    width: 300px;
}
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }


.titulo-p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(87, 160, 160);
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    width: 150px;
    height: 200px;
}









